<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weather Poll</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    
    <div id="loadingScreen" class="container">
        <div class="row">
        </div>
            <div class="row">
                <div class="col" >
                </div>
                <div class="col">
                    <h2 >Loading...
                        <img src="CLOUD.png" alt="Clouds" height="75">        
                    </h2>
                </div>
                <div class="col">
                </div>
            </div>      
        <div class="row">
        </div>
    </div>
    
    <div id="weatherScreen">
        <div class="border border-success rounded p-2 m-3 row">
            <div class="col-3">
                <img src="CLOUD.png" height="100">
            </div>
            
            <div class="col">
                <h2>Your Weather Report For {{city}}, With Your Expertise.
                </h2>    
            </div>
            <div class="col-3" >
                <h4 id="green_votes" class="text-success"></h4>
                <h4 id="red_votes" class="text-danger"></h4>
            </div>
            
        </div>
        <div class="container" id="table">
            <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(0)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[0]}}</h6>
                        <p> Condition: {{conditions[0]}}</p>
                        <p> Humidity: {{humidities[0]}}</p>
                        <p> Pressure: {{pressures[0]}}</p>                        
                        <p> Temperature: {{temperatures[0]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(1)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[1]}}</h6>
                        <p> Condition: {{conditions[1]}}</p>
                        <p> Humidity: {{humidities[1]}}</p>
                        <p> Pressure: {{pressures[1]}}</p>                        
                        <p> Temperature: {{temperatures[1]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(2)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[2]}}</h6>
                        <p> Condition: {{conditions[2]}}</p>
                        <p> Humidity: {{humidities[2]}}</p>
                        <p> Pressure: {{pressures[2]}}</p>                        
                        <p> Temperature: {{temperatures[2]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(3)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[3]}}</h6>
                        <p> Condition: {{conditions[3]}}</p>
                        <p> Humidity: {{humidities[3]}}</p>
                        <p> Pressure: {{pressures[3]}}</p>                        
                        <p> Temperature: {{temperatures[3]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div> 
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(4)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[4]}}</h6>
                        <p> Condition: {{conditions[4]}}</p>
                        <p> Humidity: {{humidities[4]}}</p>
                        <p> Pressure: {{pressures[4]}}</p>                        
                        <p> Temperature: {{temperatures[4]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(5)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[5]}}</h6>
                        <p> Condition: {{conditions[5]}}</p>
                        <p> Humidity: {{humidities[5]}}</p>
                        <p> Pressure: {{pressures[5]}}</p>                        
                        <p> Temperature: {{temperatures[5]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(6)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[6]}}</h6>
                        <p> Condition: {{conditions[6]}}</p>
                        <p> Humidity: {{humidities[6]}}</p>
                        <p> Pressure: {{pressures[6]}}</p>                        
                        <p> Temperature: {{temperatures[6]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(7)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[7]}}</h6>
                        <p> Condition: {{conditions[7]}}</p>
                        <p> Humidity: {{humidities[7]}}</p>
                        <p> Pressure: {{pressures[7]}}</p>                        
                        <p> Temperature: {{temperatures[7]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(8)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[8]}}</h6>
                        <p> Condition: {{conditions[8]}}</p>
                        <p> Humidity: {{humidities[8]}}</p>
                        <p> Pressure: {{pressures[8]}}</p>                        
                        <p> Temperature: {{temperatures[8]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(9)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[9]}}</h6>
                        <p> Condition: {{conditions[9]}}</p>
                        <p> Humidity: {{humidities[9]}}</p>
                        <p> Pressure: {{pressures[9]}}</p>                        
                        <p> Temperature: {{temperatures[9]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(10)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[10]}}</h6>
                        <p> Condition: {{conditions[10]}}</p>
                        <p> Humidity: {{humidities[10]}}</p>
                        <p> Pressure: {{pressures[10]}}</p>                        
                        <p> Temperature: {{temperatures[10]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(11)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[11]}}</h6>
                        <p> Condition: {{conditions[11]}}</p>
                        <p> Humidity: {{humidities[11]}}</p>
                        <p> Pressure: {{pressures[11]}}</p>                        
                        <p> Temperature: {{temperatures[11]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(12)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[12]}}</h6>
                        <p> Condition: {{conditions[12]}}</p>
                        <p> Humidity: {{humidities[12]}}</p>
                        <p> Pressure: {{pressures[12]}}</p>                        
                        <p> Temperature: {{temperatures[12]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(13)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[13]}}</h6>
                        <p> Condition: {{conditions[13]}}</p>
                        <p> Humidity: {{humidities[13]}}</p>
                        <p> Pressure: {{pressures[13]}}</p>                        
                        <p> Temperature: {{temperatures[13]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(14)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[14]}}</h6>
                        <p> Condition: {{conditions[14]}}</p>
                        <p> Humidity: {{humidities[14]}}</p>
                        <p> Pressure: {{pressures[14]}}</p>                        
                        <p> Temperature: {{temperatures[14]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(15)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[15]}}</h6>
                        <p> Condition: {{conditions[15]}}</p>
                        <p> Humidity: {{humidities[15]}}</p>
                        <p> Pressure: {{pressures[15]}}</p>                        
                        <p> Temperature: {{temperatures[15]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(16)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[16]}}</h6>
                        <p> Condition: {{conditions[16]}}</p>
                        <p> Humidity: {{humidities[16]}}</p>
                        <p> Pressure: {{pressures[16]}}</p>                        
                        <p> Temperature: {{temperatures[16]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(17)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[17]}}</h6>
                        <p> Condition: {{conditions[17]}}</p>
                        <p> Humidity: {{humidities[17]}}</p>
                        <p> Pressure: {{pressures[17]}}</p>                        
                        <p> Temperature: {{temperatures[17]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(18)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[18]}}</h6>
                        <p> Condition: {{conditions[18]}}</p>
                        <p> Humidity: {{humidities[18]}}</p>
                        <p> Pressure: {{pressures[18]}}</p>                        
                        <p> Temperature: {{temperatures[18]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(19)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[19]}}</h6>
                        <p> Condition: {{conditions[19]}}</p>
                        <p> Humidity: {{humidities[19]}}</p>
                        <p> Pressure: {{pressures[19]}}</p>                        
                        <p> Temperature: {{temperatures[19]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(20)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[20]}}</h6>
                        <p> Condition: {{conditions[20]}}</p>
                        <p> Humidity: {{humidities[20]}}</p>
                        <p> Pressure: {{pressures[20]}}</p>                        
                        <p> Temperature: {{temperatures[20]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(21)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[21]}}</h6>
                        <p> Condition: {{conditions[21]}}</p>
                        <p> Humidity: {{humidities[21]}}</p>
                        <p> Pressure: {{pressures[21]}}</p>                        
                        <p> Temperature: {{temperatures[21]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(22)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[22]}}</h6>
                        <p> Condition: {{conditions[22]}}</p>
                        <p> Humidity: {{humidities[22]}}</p>
                        <p> Pressure: {{pressures[22]}}</p>                        
                        <p> Temperature: {{temperatures[22]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(23)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[23]}}</h6>
                        <p> Condition: {{conditions[23]}}</p>
                        <p> Humidity: {{humidities[23]}}</p>
                        <p> Pressure: {{pressures[23]}}</p>                        
                        <p> Temperature: {{temperatures[23]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(24)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[24]}}</h6>
                        <p> Condition: {{conditions[24]}}</p>
                        <p> Humidity: {{humidities[24]}}</p>
                        <p> Pressure: {{pressures[24]}}</p>                        
                        <p> Temperature: {{temperatures[24]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(25)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[25]}}</h6>
                        <p> Condition: {{conditions[25]}}</p>
                        <p> Humidity: {{humidities[25]}}</p>
                        <p> Pressure: {{pressures[25]}}</p>                        
                        <p> Temperature: {{temperatures[25]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(26)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[26]}}</h6>
                        <p> Condition: {{conditions[26]}}</p>
                        <p> Humidity: {{humidities[26]}}</p>
                        <p> Pressure: {{pressures[26]}}</p>                        
                        <p> Temperature: {{temperatures[26]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(27)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[27]}}</h6>
                        <p> Condition: {{conditions[27]}}</p>
                        <p> Humidity: {{humidities[27]}}</p>
                        <p> Pressure: {{pressures[27]}}</p>                        
                        <p> Temperature: {{temperatures[27]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(28)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[28]}}</h6>
                        <p> Condition: {{conditions[28]}}</p>
                        <p> Humidity: {{humidities[28]}}</p>
                        <p> Pressure: {{pressures[28]}}</p>                        
                        <p> Temperature: {{temperatures[28]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(29)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[29]}}</h6>
                        <p> Condition: {{conditions[29]}}</p>
                        <p> Humidity: {{humidities[29]}}</p>
                        <p> Pressure: {{pressures[29]}}</p>                        
                        <p> Temperature: {{temperatures[29]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(30)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[30]}}</h6>
                        <p> Condition: {{conditions[30]}}</p>
                        <p> Humidity: {{humidities[30]}}</p>
                        <p> Pressure: {{pressures[30]}}</p>                        
                        <p> Temperature: {{temperatures[30]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(31)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[31]}}</h6>
                        <p> Condition: {{conditions[31]}}</p>
                        <p> Humidity: {{humidities[31]}}</p>
                        <p> Pressure: {{pressures[31]}}</p>                        
                        <p> Temperature: {{temperatures[31]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(32)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[32]}}</h6>
                        <p> Condition: {{conditions[32]}}</p>
                        <p> Humidity: {{humidities[32]}}</p>
                        <p> Pressure: {{pressures[32]}}</p>                        
                        <p> Temperature: {{temperatures[32]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(33)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[33]}}</h6>
                        <p> Condition: {{conditions[33]}}</p>
                        <p> Humidity: {{humidities[33]}}</p>
                        <p> Pressure: {{pressures[33]}}</p>                        
                        <p> Temperature: {{temperatures[33]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(34)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[34]}}</h6>
                        <p> Condition: {{conditions[34]}}</p>
                        <p> Humidity: {{humidities[34]}}</p>
                        <p> Pressure: {{pressures[34]}}</p>                        
                        <p> Temperature: {{temperatures[34]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(35)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[35]}}</h6>
                        <p> Condition: {{conditions[35]}}</p>
                        <p> Humidity: {{humidities[35]}}</p>
                        <p> Pressure: {{pressures[35]}}</p>                        
                        <p> Temperature: {{temperatures[35]}}</p>                    
                    </div>
                </div> 
                    <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(36)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[36]}}</h6>
                        <p> Condition: {{conditions[36]}}</p>
                        <p> Humidity: {{humidities[36]}}</p>
                        <p> Pressure: {{pressures[36]}}</p>                        
                        <p> Temperature: {{temperatures[36]}}</p>                    
                    </div>
                </div> 
            
            
<!--            Row div-->
            </div>
            
                        <div class="row">
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(37)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[37]}}</h6>
                        <p> Condition: {{conditions[37]}}</p>
                        <p> Humidity: {{humidities[37]}}</p>
                        <p> Pressure: {{pressures[37]}}</p>                        
                        <p> Temperature: {{temperatures[37]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(38)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[38]}}</h6>
                        <p> Condition: {{conditions[38]}}</p>
                        <p> Humidity: {{humidities[38]}}</p>
                        <p> Pressure: {{pressures[38]}}</p>                        
                        <p> Temperature: {{temperatures[38]}}</p>                    
                    </div>
                </div>
                <div id="cell" class="col border border-success rounded m-2" onclick="cast_vote(39)">
                    <div id="cell-header" class="row p-1">
                    </div>
                    <div id="cell-body" class="row p-1">
                        <h6>@ {{dates[39]}}</h6>
                        <p> Condition: {{conditions[39]}}</p>
                        <p> Humidity: {{humidities[39]}}</p>
                        <p> Pressure: {{pressures[39]}}</p>                        
                        <p> Temperature: {{temperatures[39]}}</p>                    
                    </div>
                </div> 
 
<!--            Row div-->
            </div>
            
<!--Table div-->
        </div>
    </div>
    <script> x </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="weather.js"></script>

</body>
</html>

